<!DOCTYPE html>
<html lang="en">

<head>
    {{>headLinks}}
</head>

<body>

    {{>navbar}}

    <!--Main Part-->

    <div class="container-fluid main_header">
        <div class="row">
            <div class="col-md-10 col-12 mx-auto">
                <div class="row">

                  
                    <div class="col-md-12 col-12 main_header_left align-items-center">
                        <figure class="errmsg">
                            <img  src="images/error.svg" alt="Man_img" class="img-fluid" title="Creator">
                        </figure>

                        <p >Welcome to Technical World</p>
                        <h1>{{errormsg}}</h1>
                        <a href="/"><button>Go Back</button></a>
                    </div>

                </div>
            </div>
        </div>
    </div>

    <!-- footer -->

    {{>footer}}
</body>

</html>