<!DOCTYPE html>
<html lang="en">

<head>
  {{>headLinks}}
</head>

<body>

  {{>navbar}}

  <!--Main Part-->

  <div class="container-fluid main_header">
    <div class="row">
      <div class="col-md-10 col-12 mx-auto">
        <div class="row">

          <!-- right side  -->
          <div class="col-md-6 col-12 main_header_right">
            <figure>
              <img src="images/About (2).png" alt="Man_img" class="img-fluid" title="Creator">
            </figure>
          </div>
          <!-- left side -->
          <div class="col-md-6 col-12 main_header_left">
            <p>Welcome to Technical</p>
            <h1>I AM A <span class="text_clr">MERN Stack Developer</span> And Freelancer</h1>
            <a href="#"><button>About US</button></a>
          </div>

        </div>
      </div>
    </div>
  </div>

  <!-- footer -->

  {{>footer}}
</body>

</html>